/*
* 專業團隊定制網站開發
* 定制商城、企業官網、微信小程序
* 聯繫方式： qq 494906791
* */
*{margin:0;padding:0;}
body{margin:0;padding:0;);background-attachment:fixed;background-size:cover;background-position:center;font:14px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", serif}
h1{font-size:20px}
h2{font-size:16px}
a{color:#EB5F3E;text-decoration:none}
a:hover{text-decoration:underline}
.label{background:#EB5F3E;padding:5px 8px;border-radius:3px;font-size:12px;color:#fff;vertical-align:middle}
.wrapper{background-color:#f1f1f1;background-color:rgba(0, 0, 0, .6);max-width:750px;margin:0 auto}
.header{padding:10px 20px;border-bottom:1px solid #ccc;border-bottom:1px solid rgba(255, 255, 255, .1);color:#fff;}
.alizi-detail-content{padding:0 10px;}
.alizi-page{padding:1px 0}
.alizi-page img{max-width:100%;}
.alizi-page .box{margin:15px 10px;padding:5px 0;background:#fff}
.alizi-page .box a:hover{text-decoration:none}
.alizi-page .box a:hover span{text-decoration:underline}
.alizi-page .box a:hover .label{text-decoration:none}
.alizi-page .box h2.title{margin:0;padding:5px 10px;border-bottom:1px solid #ccc;font-weight:normal;background: url('../image/vline.jpg') no-repeat 15px center;padding-left: 27px;}
.alizi-page .box-image .box-content{text-align:center;}
.alizi-page .box .box-content table.links{margin-top:-1px;width:100%;border-spacing:0;border-collapse:collapse}
.alizi-page .box .box-content table.links td{padding:3px 3px 3px 10px;border:1px solid #ddd;border-left:0}
.alizi-page .box .box-content table.links td:nth-child(2){border-left:1px solid #ddd;border-right:0}
.alizi-page .box .box-content table.links td a{display:block}
.alizi-page .alizi-order{border-bottom:none;}
.alizi-remark{color:#ccc;padding-top:10px;}
.alizi-footer{color:#fff;text-align:center;border-top:none;background:none;}
.alizi-footer a{color:#fff;}
.alizi-footer p{padding:0 0 20px 0;font-size:12px}

.alizi-plug {height:54px;color:#fff;overflow:hidden;}
.alizi-plug .price{float:left;height:54px;width:60%;background: #f61d4b;vertical-align:bottom;display: flex;}
.alizi-plug .price .symbol{font-size: 40px;vertical-align: middle;line-height: 54px;}
.alizi-plug .current-price{font-size:45px;line-height:54px;vertical-align:bottom;letter-spacing:-3px;}
.alizi-plug .group{margin-left:5px;}
.alizi-plug .original-price{padding-top:5px;line-height:20px;vertical-align:top;display:block;}
.alizi-plug .salenum{line-height:20px;vertical-align:bottom;height: 25px;line-height: 25px;padding: 2px;background: #ca032e;border-radius: 1px;}
.alizi-plug .timer{float:left;height:54px;width:40%;background: #eee;color:#555;text-align:center;line-height:20px;font-weight:bold;}
.alizi-plug .timer .tt{padding-top:5px;color:#f00;}

.alizi-content-title{padding:15px;border-bottom:1px solid #eee;}
.baoyou{ height:25px;line-height:25px; border-bottom:1px #eee solid;overflow:hidden; padding:10px 0 10px 10px;}
.baoyou span{padding-left:22px; float:left; margin-right:5px; display:inline; font-size:13px;background-size:20px 20px;}
.by{background:url('../image/you.png') no-repeat left 1px;}
.huo{background:url('../image/huo.png') no-repeat left 1px;}
.tui{background:url('../image/tui.jpg') no-repeat left 1px;}
.gou{margin: 5px;height: 45px;background: #c60a1e;border-radius: 3px;font-size: 18px;color: #fff;text-align: center;line-height: 45px;}
.gou a{color:#fff;font-size:18px;text-decoration:none;}
.aliziDay strong:after{font-size:15px;content:'天 '}
.comment-title{display:none;}

@media (max-width:600px){
    .alizi-page .box{margin:5px 0px;}
}

@media (min-width:414px) and (max-width:750px){
    .alizi-plug .price .symbol{font-size: 1.8rem;}
    .alizi-plug .current-price{font-size:2rem;}
    .alizi-plug .group{font-size:1rem;}
}

@media (max-width:414px){
    .alizi-plug .price .symbol{font-size: 1.5rem;}
    .alizi-plug .current-price{font-size:1.8rem;}
    .alizi-plug .group{font-size:.8rem;}
    .alizi-plug .timer {font-size:.8rem;}
}

.alizi-payment label{background-position: left 2px;padding-left:32px;}
.alizi-payment .alizi-payment-2,.alizi-payment .alizi-payment-4{background-position:4px -42px;}
.alizi-payment .alizi-payment-3,.alizi-payment .alizi-payment-9{background-position:2px -90px;}
.alizi-payment .alizi-payment-5{background-position:2px -142px;}
.alizi-payment .alizi-payment-6{background-position:2px -190px;}
.alizi-payment .alizi-payment-88{background-position:2px -190px;}
.alizi-payment .alizi-payment-7{background-position:2px -242px;}
.alizi-payment .alizi-payment-8{background-position:2px -292px;}
.alizi-payment a.active,.alizi-payment label.active,.alizi-payment a:hover,.alizi-payment label:hover{background-position:-200px 2px;}
.alizi-payment .alizi-payment-2.active,.alizi-payment .alizi-payment-2:hover,.alizi-payment .alizi-payment-4.active,.alizi-payment .alizi-payment-4:hover{background-position:-200px -42px;;}
.alizi-payment .alizi-payment-3.active,.alizi-payment .alizi-payment-3:hover,.alizi-payment .alizi-payment-9.active,.alizi-payment .alizi-payment-9:hover{background-position:-200px -90px;}
.alizi-payment .alizi-payment-5.active,.alizi-payment .alizi-payment-5:hover{background-position:-200px -142px;}
.alizi-payment .alizi-payment-6.active,.alizi-payment .alizi-payment-6:hover{background-position:-200px -190px;}
.alizi-payment .alizi-payment-88.active,.alizi-payment .alizi-payment-88:hover{background-position:-200px -190px;}
.alizi-payment .alizi-payment-7.active,.alizi-payment .alizi-payment-7:hover{background-position:-200px -242px;}
.alizi-payment .alizi-payment-8.active,.alizi-payment .alizi-payment-8:hover{background-position:-200px -292px;}